.back-1{
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.642)),url("../../../css/image/image-11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .e-1{
     
    background-color: white;
     width: 150px;
     height:120px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 70px;
     font-weight: bold;
     color:#EB2929;
     border-radius: 50%;
  }
  .t-1{
     text-align: center;
     font-size: 35px;
     font-weight: bold;
     color:white;
  }
  .search-1{
     width: 650px;
     height:70px;
     display: flex;
  }
  .loc-1{
     width: 222px;
  height: 50px;
  }
  .loc-2{
     width: 400px;
  height: 50px;
  }